<html>
  <head>
    <title>MsgHub</title>
  </head>

  <style>
    #messages {
      text-align: left;
      background: #f1f1f1;
      width: 500px;
      min-height: 300px;
      padding: 20px;
    }
  </style>

  <body>
    <center>
      <h3>Message Hub</h3>
      <pre id="messages"></pre>
      <input placeholder="输入你的手机号" id="account" type="text" value="">
    </center>

    <script>
      // 注册用户
      var account = document.getElementById("account");
      account.onkeydown = function (e) {
        if (e.keyCode === 13 && account.value !== "" && account.value.length == 11) {
            alert("start receive massage")
            account.setAttribute("disabled", "disabled")
            getConnect(account.value)
        }
      };
      
      function getConnect(account){
        // 初始化连接
        var url = "ws://" + window.location.host + "/ws";
        var ws = new WebSocket(url);
        var messages = document.getElementById("messages");

        // 注册登录
        ws.onopen = function (msg) {
          ws.send(account + ":ping");
        };

        // 接收消息
        ws.onmessage = function (msg) {
          if (msg.data == "ping") {
            // 相应服务端的心跳检测
            ws.send(account + ":pong");
          } else {
            messages.innerText += msg.data + "\n";
          }
        };

        // 心跳时拉取消息[每分钟]
        intervalId = setInterval(function () {
          ws.send(account + ":ping");
        }, 60000);

        // 服务端连接失败
        ws.onerror = function (msg) {
          // 休眠重试 undo
          console.log("server not response")
        };
        
        // 服务端关闭
        ws.onclose = function (msg) {
          // 休眠重试 undo
          console.log("server shutdown")
        };
      }
    </script>
  </body>
</html>
